/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

@charset "UTF-8";
@import "reset";
@import "mixin";

// フラッシュメッセージ
.notice{
  @include message();
}

.alert{
  @include message();
}

#error_explanation{
  margin: 0 auto;
  margin-top: 20px;
  color: white;
}

.error_message{
  font-weight: bold;
}

.new-alert{
  color: red;
}

// ヘッダーロゴのフォント
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

// ヘッダー/layouts@application
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 100;
  &__wrap{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    padding-top: 10px;
    &--logo{
      font-size: 40px;
      font-weight: bold;
      color: white;
      margin-left: 30px;
      font-family: 'Josefin Sans', sans-serif;
    }
    nav{
      .menu{
        display: flex;
        justify-content: right;
        line-height: 50px;
        .menu-list{
          margin-right: 50px;
          color: white;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
  .btn {
    position: fixed;
    top: 10px;
    right: 16px;
    width: 40px;
    height: 40px;
    z-index: 10;
    background-color: black;
    display: none;
    .btn-line {
      display: block;
      position: relative;
      width: 100%;
      height: 4px;
      background-color: white;
      transition: .2s;
      &::before,&::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: .5s;
      }
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
  }
}



// 背景画像　devise/index@home/new@sessions/registrations@new共通
.body-wrap{
  background-image: image-url('background_img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



// 各ページ見出し
.heading{
  &__h1{
    @include heading();
    width: 10%;
    h1{
      @include heading--h1();
    }
  }
}

.page{
  text-align: center;
    /*ページネーション自体のデザイン*/
  .pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }
}

// ログイン/new@sessions
.new-wrap{
  margin: 0 auto;
  margin-top: 80px;
  h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .form{
    .field{
      margin-top: 15px;
      color: white;
      .label{
        font-size: 18px;
      }
      .input{
        width: 350px;
      }
      .remember-p{
        color: white;
      }
    }
    .actions{
      margin: 20px 0;
      .submit{
        @include submit();
      }
    }
  }
  a{
    color: white;
    font-size: 15px;
    &:hover{
      opacity: 0.7;
    }
  }
}




// index@home画面
.home{
  .home-wrap{
    .home-index{
      color:white;
      p{
        margin-top:10px;
      }
    }
    .home-container{
      margin: 0 auto;
      background-color: beige;
      border-radius: 20px;
      width: 250px;
      height: 70px;
      margin-top: 35px;
      .home-a{
        text-align: center;
        font-size: 30px;
        color: rgb(36, 36, 36);
        display: block;
        line-height: 70px;
        font-weight: 400;
        &:hover{
          color: white;
          background-color: rgb(121, 255, 177);
          border-radius: 20px;
        }
      }
    }
  }
}



// 作品投稿/new@chord
.chordnew{
  margin: 90px 30px 0;
  // コード一覧
  .chordnew__wrap{
    margin: 30px 0 50px;
    // コード、ディグリーボタン
    &--btn{
      display: flex;
      &-chord{
        @include change_btn;
        cursor: pointer;
        &:hover{
          background-color: $btn-wrap;
        }
        &-p{
          @include change_btn-p;
        }
      }
      &-degree{
        @include change_btn;
        cursor: pointer;
        &:hover{
          background-color: $btn-wrap;
        }
        &-p{
          @include change_btn-p;
        }
      }
    }
    // 説明文
    .explanation{
      margin: 20px 15px 20px;
    }
    // コード画面
    #chords{
      display: flex;
      flex-wrap: wrap;
      .chords{
        @include chord_degree;
        .chord_img{
          @include chord_degree-img;
        }
        &:hover {
          opacity: 0.6;
        }
        &:active{
          opacity: 0.3;
        }
      }
    }
    // ディグリー画面
    #degrees{
      display: flex;
      flex-wrap: wrap;
      display: none;
      .degree{
        @include chord_degree;
        .degree_img{
          @include chord_degree-img;
        }
        &:hover {
          opacity: 0.6;
        }
        &:active{
          opacity: 0.3;
        }
      }
    }
  }
  // 作品一覧
  .work{
    margin:80px 0 50px;
    &__wrap{
      @include change_btn;
      &--p{
        @include change_btn-p;
      }
    }
    #sakuhin{
      display: flex;
      flex-wrap: wrap;
      .chords{
        width:9%;
        border-radius: 20%;
        margin:0.5%;
        margin-bottom: 20px;
        .chord_img{
          border-radius: 30%;
        }
        .sakuhin{
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: 30px;
        }
        .remove{
          text-align: center;
          line-height: 30px;
          font-size:20px;
          cursor: pointer;
          margin:0;
          padding: 0;
          &:hover {
            color:red;
          }
          &:active{
            color: orange;
          }
        }
      }
    }
  }
  // 送信フォーム
  .form{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    .field{
      margin: 0 auto;
      margin-top: 15px;
      .label{
        font-size: 0.8em;
      }
      .input{
        width: 500px;
      }
      .text-area{
        width: 500px;
        height: 100px;
      }
    }
    .actions{
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
      .submit{
        @include submit();
      }
    }
  }
}




.follow_btn-do{
  @include follow();
}

.follow_btn-remove{
  @include follow_remove();
}

// 投稿一覧画面/index@chord
.chordindex{
  margin-top: 80px;
  .heading{
    margin: 40px ;
  }
}

.chordindex__wrap{
  @include chord__wrap();
  width:80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.chordindex__wrap--container{
  display: flex;
}

.chordindex__wrap--img{
  width: 20%;
  height: 50%;
  img{
    border-radius: 50%;
    &:hover{
      opacity: 0.8;
    }
  }
}

.chordindex__body{
  margin-left: 30px;
  width:50%;
}

.chordindex__wrap--follow_btn-remove{
  @include follow_remove();
  width: 50%;
  margin-bottom: 20px;
}

.chordindex__wrap--follow_btn-do{
  @include follow();
  width: 50%;
  margin-bottom: 20px;
}

.chordindex__body--title{
  margin-bottom: 10px;
}

.chordindex__body--username{
  @include chordindex();
}

.chordindex__body--updated{
  @include chordindex();
}

.chordindex__body--body{
  @include chordbody();
}

.chord_id{
  display: flex;
  flex-wrap: wrap;
}

.chords{
  width:9%;
  margin:0.5%;
}

.chord_img{
  @include chord_degree-img;
}

.play_id{
  margin-top: 40px;
  margin-bottom: 100px;
}

.play{
  @include play();
}

.play-btn{
  @include play-btn();
}





// 投稿者一覧/index@user
.userindex{
  margin-top: 80px;
  .heading{
    margin-left:30px;
  }
}

.userindex__wrap{
  display: flex;
  flex-wrap: wrap;
  // margin-right: 20px;
  margin-left: 20px;
}

.userindex__wrap--container{
  padding: 0.5em 1em;
  margin: 2em 0;
  margin-right: 20px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.userindex__wrap--follow_btn-remove{
  @include follow_remove();
  margin-bottom: 20px;
}

.userindex__wrap--follow_btn-do{
  @include follow();
  margin-bottom: 20px;
}

.userindex__wrap--follow_wrap{
  margin:0 auto;
}

.userindex__wrap--follow_wrap{
  display: flex;
}

.userindex__wrap--emptybox{
  width: 100%;
  height: 70px;
}

.userindex__wrap--follow_wrap_count{
    margin-right: 10px;
    color: rgb(71, 71, 71);
  &:hover{
    opacity: 0.7;
  }
}

.userindex__wrap--follow_wrap_count-int{
  font-weight: bold;
}


.no-image{
  width: 250px;
  height: 250px;
  img{
    border-radius: 50%;
    &:hover{
      opacity: 0.8;
    }
  }
}

.userindex__wrap--name{
  font-size: 20px;
}


// 投稿者一覧/index@user
.followindex{
  margin-top: 80px;
  .heading{
    margin-left:30px;
  }
}

.followindex__wrap{
  display: flex;
  flex-wrap: wrap;
  // margin-right: 20px;
  // margin-left: 10px;
}

.followindex__wrap--container{
  padding: 0.5em 1em;
  margin: 2em 0;
  margin-right: 20px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.followindex__wrap--follow_btn-remove{
  @include follow_remove();
  margin-bottom: 20px;
}

.followindex__wrap--follow_btn-do{
  @include follow();
  margin-bottom: 20px;
}

.followindex__wrap--follow_wrap{
  margin:0 auto;
}

.followindex__wrap--follow_wrap{
  display: flex;
}

.followindex__wrap--emptybox{
  width: 100%;
  height: 70px;
}

.followindex__wrap--follow_wrap_count{
    margin-right: 10px;
    color: rgb(71, 71, 71);
  &:hover{
    opacity: 0.7;
  }
}

.followindex__wrap--follow_wrap_count-int{
  font-weight: bold;
}

.followindex__wrap--name{
  font-size: 20px;
}

// フォロー/フォロワー
.follow_wrap{
  margin: 90px 25px 0 ;

}


// ユーザーページ/show@user
.usershow_wrap{
  .heading{
    margin: 90px 30px 0;
  }
  .usershow{
    display: flex;
    &--image{
      width:40%;
      height: 50px;
      margin-left: 20px;
      img{
        border-radius: 50%;
      }
    }
    &__container{
      margin-left: 80px;
      &--follow{
        &_btn-remove{
          @include follow_remove();
          margin-bottom: 20px;
        }
        &_btn-do{
          @include follow();
          margin-bottom: 20px;
        }
      }
      &--follow_wrap{
        display: flex;
        &_count{
          margin: 0 10px;
          color: rgb(71, 71, 71);
          &:hover{
            opacity: 0.8;
          }
          &-int{
            font-weight: bold;
          }
        }
      }
      &--edit_btn{
        @include submit();
        display: block;
        text-align: center;
        font-size: 24px;
        width: 60%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
      &--show_edit{
        @include chord__wrap();
        margin-bottom: 10px;
        padding: 10px;
      }
      &--show_profile{
        z-index: 1;
        width: 90%;
        height: 80%;
        position: relative;
        margin: 2em 0;
        padding: 0.5em 1em;
        border: solid 3px #95ccff;
        border-radius: 8px;
        &_box-title{
          position: absolute;
          display: inline-block;
          top: -13px;
          left: 10px;
          padding: 0 9px;
          line-height: 1;
          font-size: 19px;
          background: #FFF;
          color: #95ccff;
          font-weight: bold;
        }
      }
    }
  }
  .usershow_chord{
    margin-top: 300px;
    &__container{
      @include chord__wrap();
      width:80%;
      margin: 0 auto;
      margin-bottom: 50px;
      &--title{
        margin-bottom: 10px;
      }
      &--username{
        @include chordindex();
      }
      &--updated{
        @include chordindex();
      }
      &--body{
        @include chordbody();
      }
      &--delete{
        margin-bottom: 20px;
      }
    }
  }
}




// 編集画面edit@user
.useredit{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__container{
    margin:0 auto;
    margin-top: 80px;
    .heading{
      &__h1{
        margin: 0 ;
        width: 40%;
        margin-bottom: 10px;
      }
    }
  }
  .form{
    .field{
      margin-top: 10px;
      .label{
        font-size: 18px;
      }
      .input{
        width: 500px;
      }
      .text-area{
        width:500px;
        height: 80px;
      }
    }
    .actions{
      margin: 10px 0;
      .submit{
        @include submit();
      }
    }
  }
}

