@charset "UTF-8";

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {

  // 共通
  .header{
    &__wrap{
      height: 60px;
      nav{
        .menu{
          .menu-list{
            margin-right: 20px;
          }
        }
      }
    }
  }

  // home画面
  .home{
    .home-wrap{
      .home-container{
        height: 50%;
      }
    }
  }
}


.heading{
  &__h1{
    width: 20%;
    font-size: 20px;
  }
}

// --ここまで--


	/* 680px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 680px) {

  .notice{
    margin-top: 60px;
  }

  .alert{
    width: 80%;
  }

  // 共通
  .header{
    &__wrap{
      height: 50px;
      &--logo{
        font-size: 40px;
      }
      nav{
        .menu{
          display: flex;
          flex-direction: column;
          z-index: 10;
          position: fixed;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100vh;
          background-color: rgba(92, 92, 92, 0.89);
          transition: .3s;
          .menu-list{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: cornflowerblue;
            width: 200px;
            height: 50px;
            border-radius: 10%;
            color: white;
            margin:0 auto;
            margin-top: 50px;
            &:hover{
              background-color: rgba(255, 255, 255, .5);
              color: #333;
              cursor: pointer;
              transition: .3s;
            }
          }
        }
        .menu.open{
          position: absolute;
          right:0;
        }
      }
    }
    .btn{
      display: block;
      z-index: 1000;
      .btn-line.open {
        background-color: transparent;
        &::before,&::after{
          content: "";
          background-color: white;
          transition: .2s;
        }
        &::before{
          transform: rotate(45deg);
        }
        &::after{
          transform: rotate(-45deg);
        }
      }
    }
  }

  // home画面
  .home{
    .home-wrap{
      .home-container{
        height: 50%;
      }
    }
  }

// ページ見出し
.heading{
  &__h1{
    width: 80%;
  }
}


// 作品投稿　chord_new画面
  .chordnew{
    // コード一覧
    .chordnew__wrap{
      margin: 30px 0 50px;
      // コード、ディグリーボタン
      &--btn{
        &-chord{
          width: 50%;
          &-p{
            font-size: 0.8em;
          }
        }
        &-degree{
          width: 50%;
          &-p{
            font-size: 0.8em;
          }
        }
      }
      // コード画面
      #chords{
        margin: 0 auto;
        .chords{
          width: 18%;
        }
      }
      // ディグリー画面
      #degrees{
        margin: 0 auto;
        .degree{
          width: 18%;
        }
      }
    }
    // 作品一覧
    .work{
      margin: 0 auto;
      &__wrap{
        width: 50%;
        &--p{
          font-size: 0.8em;
        }
      }
      #sakuhin{
        margin: 0 auto;
        .chords{
          width:18%;
          .sakuhin{
            font-size: 15px;
          }
          .remove{
            font-size:15px;
          }
        }
      }
    }
    // 送信フォーム
    .form{
      .field{
        .input{
          width: 300px;
        }
        .text-area{
          width: 300px;
        }
      }
    }
  }


// 作品一覧　index@chords

.chordindex__wrap--img{
  width: 30%;
  height: 50%;
}

#chords{
  margin-left: 30px;
  .chord_id{
    display: flex;
    flex-wrap: wrap;
    .chords{
      width: 20%;
    }
  }
}



//  作曲者一覧users/index画面
.userindex__wrap{
  margin-left: 50px;
}


// マイページusers/show画面
.usershow_wrap{
  display: flex;
  flex-flow: column;
  margin: 0 30px 0 ;
  .heading{
    margin-top: 50px;
  }
  .usershow{
    display: block;
    &--image{
      margin: 0 auto;
      margin-bottom: 250px;
      width: 100%;
    }
    &__conatiner{
      margin: 0 auto;
      &--show_profile{
        height: 200px;
      }
    }
  }
  .chord{
    margin: 0;
    #chords{
      .chord_id{
        display: flex;
        flex-wrap: wrap;
        .chords{
          width: 20%;
        }
      }
    }
  }
}



// 編集画面edit@user
.useredit{
  margin-top: 80px;
  &__container{
    margin: 20px;
    .heading{
      &__h1{
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  .form{
    .field{
      margin-top: 20px;
      .input{
        width: 300px;
      }
      .text-area{
        width:300px;
        height: 80px;
      }
    }
    .actions{
      margin: 30px 0;
    }
  }
}


}
// --ここまで--