  
<% if current_user.following?(@user)%>
  <%= link_to user_relationships_path(@user.id),method: :delete do%>
    <button class="usershow__container--follow_btn-remove">フォローを外す</button>
  <%end%>
<%else%>
  <%= link_to user_relationships_path(@user.id),method: :post do%>
    <button class="usershow__container--follow_btn-do">フォローする</button>
  <%end%>
<%end %>