
//users#show
$("#show_follow_form").html("<%= j(render partial: 'users/show_follow/follow', user: @user) %>");
$("#followers_count").html('<%=link_to followers_user_path(@user) do%><div class="usershow__container--follow_wrap_count"><p ><span class="usershow__container--follow_wrap_count-int"><%= @user.followers.count%></span>フォロワー</p></div><%end%>');